In [1]:
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt
import pandas as pd
from datetime import datetime

In [2]:
#feedback_sheet = pd.read_csv(r"C:\Users\abc\Desktop\feedback\feedback.csv")

passbook = pd.read_excel(r"C:\Users\abc\Desktop\Chetan PNB AC\Passbook.xlsx")

In [3]:
passbook.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2748 entries, 0 to 2747
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date           2748 non-null   object
 1   Instrument ID  0 non-null      float64
 2   Amount         2748 non-null   float64
 3   Type           2748 non-null   object
 4   Balance        2748 non-null   object
 5   Remarks        2748 non-null   object
dtypes: float64(2), object(4)
memory usage: 128.9+ KB

In [4]:
int(passbook["Amount"].sum())

2066474

In [5]:
 CR = passbook.loc[passbook['Type'] == "CR", 'Amount'].sum()

In [6]:
DR = passbook.loc[passbook["Type"] == "DR", "Amount"].sum()

In [7]:

#feedback_sheet = pd.read_csv(r"C:\Users\abc\Desktop\feedback\feedback.csv")

#passbook = pd.read_excel(r"C:\Users\abc\Desktop\Chetan PNB AC\PNBONE_mPassbook_22-6-2023_21-6-2024_0287XXXXXXXX2619.xlsx")

In [8]:

import os
import io
import msoffcrypto

# Import Passbook with Excel File And Password protector file open 

# Import Excel file 2023 - 24
#cdir = os.path.dirname(__file__)
fpath = os.path.join(r"C:\Users\abc\Desktop\Chetan PNB AC\PNBONE_mPassbook_22-6-2023_21-6-2024_0287XXXXXXXX2619.xlsx")
 
unlocked_file = io.BytesIO()
 
with open(fpath, "rb") as file:
    excel_file = msoffcrypto.OfficeFile(file)
    excel_file.load_key(password = "0287001500032619")
    excel_file.decrypt(unlocked_file)
 
df = pd.read_excel(unlocked_file)
#print(df)

#df.tail(20)

#df.head(25)

#df.head(25)

#df.iloc[18:]
# Useful data chunk
pas_23 = df.iloc[18:-10]

# Reset index
pas_23 = pas_23.reset_index()

# Delete index file
pas_23 = pas_23.drop('index', axis=1)

# First row header in Column USe
headers = pas_23.iloc[0]
pas_23.columns = [headers] 
# First row delete
pas_23.drop(index=0, axis=0, inplace=True)
pas_23

pas_23 = pas_23.reset_index()

passbook_23_24 = pas_23.drop('index', axis=1)

passbook_23_24

C:\Users\abc\AppData\Local\Programs\Python\Python312\Lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
C:\Users\abc\AppData\Local\Temp\ipykernel_3856\2636551287.py:46: PerformanceWarning: dropping on a non-lexsorted multi-index without a level parameter may impact performance.
  passbook_23_24 = pas_23.drop('index', axis=1)

,Date,Instrument ID,Amount,Type,Balance,Remarks
0,21/06/2024,NaN,10.00,DR,361.29,UPI/453965826613/P2V/917898853184 Q662432021...
1,21/06/2024,NaN,20.00,DR,371.29,UPI/453917459735/P2V/917898853184 Q662432021...
2,21/06/2024,NaN,5.00,DR,391.29,UPI/453900527556/P2M/917898853184 Q976150862...
3,21/06/2024,NaN,35.00,DR,396.29,UPI/453939910881/P2M/917898853184 Q976150862...
4,21/06/2024,NaN,10.00,DR,431.29,UPI/417389933451/P2M/917898853184 paytmqr198...
...,...,...,...,...,...,...
739,25/06/2023,NaN,30.00,DR,"2,260.06",UPI/317669336760/P2M/paytmqr281005050101m6sq7f...
740,25/06/2023,NaN,2000.00,CR,"2,290.06",UPI/354256083227/P2V/ashvinimalviya@ybl/ASHVIN...
741,24/06/2023,NaN,32.00,DR,290.06,UPI/354184563731/P2M/Q213883842@ybl/SANTOSH P...
742,24/06/2023,NaN,12.00,DR,322.06,UPI/317557582977/P2M/pay9826019243@paytm/RAHUL...
743,22/06/2023,NaN,5.00,DR,334.06,UPI/317353772067/P2M/paytmqrwqflmjxuhb@paytm/B...

In [9]:

import os
import io
import msoffcrypto

# Import Passbook with Excel File And Password protector file open 

# Import Excel file 2022 - 23
#cdir = os.path.dirname(__file__)
fpath = os.path.join(r"C:\Users\abc\Desktop\Chetan PNB AC\PNBONE_mPassbook_22-6-2022_21-6-2023_0287XXXXXXXX2619.xlsx")
 
unlocked_file = io.BytesIO()
 
with open(fpath, "rb") as file:
    excel_file = msoffcrypto.OfficeFile(file)
    excel_file.load_key(password = "0287001500032619")
    excel_file.decrypt(unlocked_file)
 
df = pd.read_excel(unlocked_file)
#print(df)

#df.tail(20)

#df.head(25)

#df.head(25)

#df.iloc[18:]
# Useful data chunk
pas = df.iloc[18:-10]

# Reset index
pas = pas.reset_index()

# Delete index file
pas = pas.drop('index', axis=1)

# First row header in Column USe
headers = pas.iloc[0]
pas.columns = [headers] 
# First row delete
pas.drop(index=0, axis=0, inplace=True)
pas

pas = pas.reset_index()

passbook_22_23 = pas.drop('index', axis=1)

passbook_22_23

C:\Users\abc\AppData\Local\Temp\ipykernel_3856\1902098825.py:46: PerformanceWarning: dropping on a non-lexsorted multi-index without a level parameter may impact performance.
  passbook_22_23 = pas.drop('index', axis=1)

,Date,Instrument ID,Amount,Type,Balance,Remarks
0,20/06/2023,NaN,10.00,DR,339.06,UPI/353747041669/P2M/Q982789186@ybl/SANTOSH P...
1,20/06/2023,NaN,550.00,DR,349.06,UPI/317181484773/P2V/9770225057@paytm/Ravi Jain
2,20/06/2023,NaN,550.00,CR,899.06,UPI/317107344292/P2V/malviya.vickey@ibl/VICKEY...
3,20/06/2023,NaN,20.00,DR,349.06,UPI/317165502315/P2M/paytmqr2810050501011fo9hi...
4,20/06/2023,NaN,7.00,DR,369.06,UPI/353744757280/P2M/Q360516025@ybl/RAJESH PA...
...,...,...,...,...,...,...
482,12/07/2022,NaN,1000.00,DR,3.01,UPI/219350695465/P2A/36743590418@SBIN0030175.i...
483,11/07/2022,NaN,1.00,DR,"1,003.01",UPI/219209450110/P2A/36743590418@SBIN0030175.i...
484,11/07/2022,NaN,1000.00,CR,"1,004.01",UPI/219287877596/P2V/8349259005@ibl/CHAITANYA ...
485,01/07/2022,NaN,1.00,DR,4.01,UPI/218255817607/P2A/32503863323@SBIN0030175.i...
486,22/06/2022,NaN,190.00,DR,5.01,UPI/217387454295/P2M/paytmqr281005050101j4g1tc...

In [10]:
passbook_23_24["Amount"] =  passbook_23_24["Amount"].astype(str)

passbook_23_24.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 744 entries, 0 to 743
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   (Date,)           744 non-null    object
 1   (Instrument ID,)  0 non-null      object
 2   (Amount,)         744 non-null    object
 3   (Type,)           744 non-null    object
 4   (Balance,)        744 non-null    object
 5   (Remarks,)        744 non-null    object
dtypes: object(6)
memory usage: 35.0+ KB

In [11]:
passbook_23_24["Amount"] = passbook_23_24["Amount"].astype(str).astype(float)
#passbook_23_24["Balance"] = passbook_23_24["Balance"].astype(str).astype(float)

#passbook_23["Balance"].astype(str).astype(float)

passbook_23_24.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 744 entries, 0 to 743
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   (Date,)           744 non-null    object
 1   (Instrument ID,)  0 non-null      object
 2   (Amount,)         744 non-null    float64
 3   (Type,)           744 non-null    object
 4   (Balance,)        744 non-null    object
 5   (Remarks,)        744 non-null    object
dtypes: float64(1), object(5)
memory usage: 35.0+ KB

In [12]:

import os
import io
import msoffcrypto

# Import Passbook with Excel File And Password protector file open 

# Import Excel file 2021 - 22
#cdir = os.path.dirname(__file__)
fpath = os.path.join(r"C:\Users\abc\Desktop\Chetan PNB AC\PNBONE_mPassbook_22-6-2021_21-6-2022_0287XXXXXXXX2619.xlsx")
 
unlocked_file = io.BytesIO()
 
with open(fpath, "rb") as file:
    excel_file = msoffcrypto.OfficeFile(file)
    excel_file.load_key(password = "0287001500032619")
    excel_file.decrypt(unlocked_file)
 
df = pd.read_excel(unlocked_file)
#print(df)

#df.tail(20)

#df.head(25)

#df.head(25)

#df.iloc[18:]
# Useful data chunk
pas = df.iloc[18:-10]

# Reset index
pas = pas.reset_index()

# Delete index file
pas = pas.drop('index', axis=1)

# First row header in Column USe
headers = pas.iloc[0]
pas.columns = [headers] 
# First row delete
pas.drop(index=0, axis=0, inplace=True)
pas

pas = pas.reset_index()

passbook_21_22 = pas.drop('index', axis=1)

passbook_21_22

C:\Users\abc\AppData\Local\Programs\Python\Python312\Lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
C:\Users\abc\AppData\Local\Temp\ipykernel_3856\3928373344.py:46: PerformanceWarning: dropping on a non-lexsorted multi-index without a level parameter may impact performance.
  passbook_21_22 = pas.drop('index', axis=1)

,Date,Instrument ID,Amount,Type,Balance,Remarks
0,21/06/2022,NaN,24.78,DR,195.01,ATM WDR 217211000861 SBI GANESH MARKET BIST
1,21/06/2022,NaN,500.00,DR,219.79,ATM WDR 217211000861 SBI GANESH MARKET BIST
2,19/06/2022,NaN,239.00,DR,719.79,UPI/217044691993/P2M/EURONET@axl/PhonePe
3,18/06/2022,NaN,24.78,DR,958.79,ATM WDR 216915007737 KHARGONE
4,18/06/2022,NaN,2000.00,DR,983.57,ATM WDR 216915007737 KHARGONE
...,...,...,...,...,...,...
188,06/07/2021,NaN,20.00,CR,763.29,UPI/118729343330/P2V/7898853184@ybl/CHAITANYA ...
189,06/07/2021,NaN,303.00,DR,743.29,UPI/118711738025/P2M/paytm.utility@axisbank/CH...
190,05/07/2021,NaN,4000.00,DR,"1,046.29",ATM WDR 118613020980 SBI GANESH MARKET BIST
191,01/07/2021,NaN,5000.00,CR,"5,046.29",UPI/118266648314/P2V/7898853184@ybl/SANJAY MAL...
192,27/06/2021,NaN,15.00,DR,46.29,UPI/117848054598/P2M/pay9977899296@paytm/CHETA...

In [13]:

import os
import io
import msoffcrypto

# Import Passbook with Excel File And Password protector file open 

# Import Excel file 2020 - 21
#cdir = os.path.dirname(__file__)
fpath = os.path.join(r"C:\Users\abc\Desktop\Chetan PNB AC\PNBONE_mPassbook_22-6-2020_21-6-2021_0287XXXXXXXX2619.xlsx")
 
unlocked_file = io.BytesIO()
 
with open(fpath, "rb") as file:
    excel_file = msoffcrypto.OfficeFile(file)
    excel_file.load_key(password = "0287001500032619")
    excel_file.decrypt(unlocked_file)
 
df = pd.read_excel(unlocked_file)
#print(df)

#df.tail(20)

#df.head(25)

#df.head(25)

#df.iloc[18:]
# Useful data chunk
pas = df.iloc[18:-10]

# Reset index
pas = pas.reset_index()

# Delete index file
pas = pas.drop('index', axis=1)

# First row header in Column USe
headers = pas.iloc[0]
pas.columns = [headers] 
# First row delete
pas.drop(index=0, axis=0, inplace=True)
pas

pas = pas.reset_index()

passbook_20_21 = pas.drop('index', axis=1)

passbook_20_21

C:\Users\abc\AppData\Local\Programs\Python\Python312\Lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
C:\Users\abc\AppData\Local\Temp\ipykernel_3856\3505260638.py:46: PerformanceWarning: dropping on a non-lexsorted multi-index without a level parameter may impact performance.
  passbook_20_21 = pas.drop('index', axis=1)

,Date,Instrument ID,Amount,Type,Balance,Remarks
0,21/06/2021,NaN,11.00,DR,61.29,UPI/117291623398/P2M/paybil3066@paytm/Paytm Re...
1,21/06/2021,NaN,400.00,DR,72.29,UPI/117275247441/P2A/917898853184 PYTM0123...
2,20/06/2021,NaN,49.25,DR,472.29,UPI/117134138024/P2M/Q41318657@ybl/GD FUELS KISAN
3,19/06/2021,NaN,2035.00,DR,521.54,UPI/117029402465/P2M/mponline.billdesk@hdfcban...
4,19/06/2021,NaN,2000.00,CR,"2,556.54",UPI/117030323705/P2V/7354940353@ibl/MONIKA MA...
...,...,...,...,...,...,...
237,23/06/2020,NaN,9990.00,CR,"10,000.48",UPI/017518940779/P2V/monikamalviya76814@oksbi/...
238,23/06/2020,NaN,10.00,CR,10.48,UPI/017518931719/P2V/monikamalviya76814@oksbi/...
239,23/06/2020,NaN,3300.00,DR,0.48,UPI/017508141893/P2A/53047088207 sbin0030...
240,23/06/2020,NaN,1.00,DR,"3,300.48",UPI/017508135261/P2A/53047088207 sbin0030...
241,23/06/2020,NaN,3300.00,CR,"3,301.48",UPI/017531283031/P2A/7898853184/CHETAN

In [14]:

import os
import io
import msoffcrypto

# Import Passbook with Excel File And Password protector file open 

# Import Excel file 2019 - 20
#cdir = os.path.dirname(__file__)
fpath = os.path.join(r"C:\Users\abc\Desktop\Chetan PNB AC\PNBONE_mPassbook_22-6-2019_21-6-2020_0287XXXXXXXX2619.xlsx")
 
unlocked_file = io.BytesIO()
 
with open(fpath, "rb") as file:
    excel_file = msoffcrypto.OfficeFile(file)
    excel_file.load_key(password = "0287001500032619")
    excel_file.decrypt(unlocked_file)
 
df = pd.read_excel(unlocked_file)
#print(df)

#df.tail(20)

#df.head(25)

#df.head(25)

#df.iloc[18:]
# Useful data chunk
pas = df.iloc[18:-10]

# Reset index
pas = pas.reset_index()

# Delete index file
pas = pas.drop('index', axis=1)

# First row header in Column USe
headers = pas.iloc[0]
pas.columns = [headers] 
# First row delete
pas.drop(index=0, axis=0, inplace=True)
pas

pas = pas.reset_index()

passbook_19_20 = pas.drop('index', axis=1)

passbook_19_20

C:\Users\abc\AppData\Local\Programs\Python\Python312\Lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
C:\Users\abc\AppData\Local\Temp\ipykernel_3856\1055937573.py:46: PerformanceWarning: dropping on a non-lexsorted multi-index without a level parameter may impact performance.
  passbook_19_20 = pas.drop('index', axis=1)

,Date,Instrument ID,Amount,Type,Balance,Remarks
0,21/06/2020,NaN,3550.00,DR,1.48,UPI/017317422890/P2V/harshdbhawsar29@oksbi/HAR...
1,21/06/2020,NaN,50.00,CR,"3,551.48",UPI/017315853187/P2A/7898853184/CHETAN
2,21/06/2020,NaN,3500.00,CR,"3,501.48",UPI/017315683451/P2A/7898853184/CHETAN
3,19/05/2020,NaN,200.00,DR,1.48,UPI/014010039125/P2M/airtelmoney.razorpay@icic...
4,19/05/2020,NaN,200.00,CR,201.48,UPI/014010319906/P2V/8889664032@apl/DIVYA MALVIYA
...,...,...,...,...,...,...
636,23/06/2019,NaN,20.00,DR,176.26,UPI/917438412528/P2M/paytm-40235459@paytm/CHOU...
637,23/06/2019,NaN,23.60,DR,196.26,ATM WDR 917411029436 VAIBHAV NAGAR CD
638,23/06/2019,NaN,100.00,DR,219.86,ATM WDR 917411029436 VAIBHAV NAGAR CD
639,22/06/2019,NaN,85.00,DR,319.86,UPI/917344035201/P2M/paytm-35172481@paytm/MHAS...
640,22/06/2019,NaN,400.00,CR,404.86,UPI/917309208429/P2V/ashvinimalviya.95@okhdfcb...

In [15]:

import os
import io
import msoffcrypto

# Import Passbook with Excel File And Password protector file open 

# Import Excel file 2018 - 19
#cdir = os.path.dirname(__file__)
fpath = os.path.join(r"C:\Users\abc\Desktop\Chetan PNB AC\PNBONE_mPassbook_22-6-2018_21-6-2019_0287XXXXXXXX2619.xlsx")
 
unlocked_file = io.BytesIO()
 
with open(fpath, "rb") as file:
    excel_file = msoffcrypto.OfficeFile(file)
    excel_file.load_key(password = "0287001500032619")
    excel_file.decrypt(unlocked_file)
 
df = pd.read_excel(unlocked_file)
#print(df)

#df.tail(20)

#df.head(25)

#df.head(25)

#df.iloc[18:]
# Useful data chunk
pas = df.iloc[18:-10]

# Reset index
pas = pas.reset_index()

# Delete index file
pas = pas.drop('index', axis=1)

# First row header in Column USe
headers = pas.iloc[0]
pas.columns = [headers] 
# First row delete
pas.drop(index=0, axis=0, inplace=True)
pas

pas = pas.reset_index()

passbook_18_19 = pas.drop('index', axis=1)

passbook_18_19

C:\Users\abc\AppData\Local\Programs\Python\Python312\Lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
C:\Users\abc\AppData\Local\Temp\ipykernel_3856\1574010562.py:46: PerformanceWarning: dropping on a non-lexsorted multi-index without a level parameter may impact performance.
  passbook_18_19 = pas.drop('index', axis=1)

,Date,Instrument ID,Amount,Type,Balance,Remarks
0,18/06/2019,NaN,20.00,DR,4.86,UPI/916945246156/P2M/pay7047210239@paytm/Satye...
1,18/06/2019,NaN,20.00,CR,24.86,UPI/916921431291/P2V/ashvinimalviya.95@okhdfcb...
2,18/06/2019,NaN,23.60,DR,4.86,ATM WDR 916912015351 VAIBHAV NAGAR CD
3,18/06/2019,NaN,100.00,DR,28.46,ATM WDR 916912015351 VAIBHAV NAGAR CD
4,18/06/2019,NaN,14.00,CR,128.46,UPI/916912880165/P2V/ashvinimalviya.95@okhdfcb...
...,...,...,...,...,...,...
436,22/06/2018,NaN,23.60,DR,"1,175.00",ATM WDR 817307025284 SBI VAIBHAV NAGAR
437,22/06/2018,NaN,300.00,DR,"1,198.60",ATM WDR 817307025284 SBI VAIBHAV NAGAR
438,22/06/2018,NaN,23.60,DR,"1,498.60",ATM WDR 817307025271 SBI VAIBHAV NAGAR
439,22/06/2018,NaN,700.00,DR,"1,522.20",ATM WDR 817307025271 SBI VAIBHAV NAGAR
440,22/06/2018,NaN,2000.00,CR,"2,222.20",UPI/817307882516/P2A/9617560960/ASHVINI DO OMP...

In [16]:
passbook_18_19.tail()

,Date,Instrument ID,Amount,Type,Balance,Remarks
436,22/06/2018,NaN,23.60,DR,"1,175.00",ATM WDR 817307025284 SBI VAIBHAV NAGAR
437,22/06/2018,NaN,300.00,DR,"1,198.60",ATM WDR 817307025284 SBI VAIBHAV NAGAR
438,22/06/2018,NaN,23.60,DR,"1,498.60",ATM WDR 817307025271 SBI VAIBHAV NAGAR
439,22/06/2018,NaN,700.00,DR,"1,522.20",ATM WDR 817307025271 SBI VAIBHAV NAGAR
440,22/06/2018,NaN,2000.00,CR,"2,222.20",UPI/817307882516/P2A/9617560960/ASHVINI DO OMP...

In [17]:

import os
import io
import msoffcrypto

# Import Passbook with Excel File And Password protector file open 

# Import Excel file 2018 ( 1 Jan - 21 June )
#cdir = os.path.dirname(__file__)
fpath = os.path.join(r"C:\Users\abc\Desktop\Chetan PNB AC\PNBONE_mPassbook_1-1-2018_21-6-2018_0287XXXXXXXX2619.xlsx")
 
unlocked_file = io.BytesIO()
 
with open(fpath, "rb") as file:
    excel_file = msoffcrypto.OfficeFile(file)
    excel_file.load_key(password = "0287001500032619")
    excel_file.decrypt(unlocked_file)
 
df = pd.read_excel(unlocked_file)
#print(df)

#df.tail(20)

#df.head(25)

#df.head(25)

#df.iloc[18:]
# Useful data chunk
pas = df.iloc[18:-10]

# Reset index
pas = pas.reset_index()

# Delete index file
pas = pas.drop('index', axis=1)

# First row header in Column USe
headers = pas.iloc[0]
pas.columns = [headers] 
# First row delete
pas.drop(index=0, axis=0, inplace=True)
pas

pas = pas.reset_index()

passbook_18 = pas.drop('index', axis=1)

passbook_18

C:\Users\abc\AppData\Local\Programs\Python\Python312\Lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
C:\Users\abc\AppData\Local\Temp\ipykernel_3856\3646777022.py:46: PerformanceWarning: dropping on a non-lexsorted multi-index without a level parameter may impact performance.
  passbook_18 = pas.drop('index', axis=1)

,Date,Instrument ID,Amount,Type,Balance,Remarks
0,17/06/2018,NaN,23.60,DR,222.20,ATM WDR 816817027794 VAIBHAV NAGAR CD
1,17/06/2018,NaN,1500.00,DR,245.80,ATM WDR 816817027794 VAIBHAV NAGAR CD
2,17/06/2018,NaN,1500.00,CR,"1,745.80",UPI/816817016710/P2A/9617560960/ASHVINI DO OMP...
3,15/06/2018,NaN,23.60,DR,245.80,ATM WDR 816610015026 +BOB
4,15/06/2018,NaN,100.00,DR,269.40,ATM WDR 816610015026 +BOB
...,...,...,...,...,...,...
72,15/01/2018,NaN,2000.00,DR,612.00,ATM WDR 801508013036 SBI GANESH MARKET BIST
73,14/01/2018,NaN,1000.00,CR,"2,612.00",UPI/801409955034/P2A/9617560960/ASHVINI DO OMP...
74,13/01/2018,NaN,1500.00,CR,"1,612.00",UPI/801321893507/P2A/9617560960/ASHVINI DO OMP...
75,10/01/2018,NaN,100.00,CR,112.00,UPI/801017422122/P2A/9617560960/ASHVINI DO OMP...
76,01/01/2018,NaN,300.00,DR,12.00,"ATM WDR 3139 PNB PNB,9,RADHAVALLABH MARKET KH..."

In [18]:

# All Dataframe Concate 
#pd.concat([s1, s2], ignore_index=True)
passbook_all = pd.concat([passbook_18, passbook_18_19, passbook_19_20, passbook_20_21, passbook_21_22, passbook_22_23, passbook_23_24])

# Index reset
passbook_all = passbook_all.reset_index()

# Index Delete
passbook_all = passbook_all.drop('index', axis=1)

# Column Delete
columns = ["Instrument ID"]
passbook_all.drop(columns, inplace=True, axis=1)

C:\Users\abc\AppData\Local\Temp\ipykernel_3856\4066875377.py:9: PerformanceWarning: dropping on a non-lexsorted multi-index without a level parameter may impact performance.
  passbook_all = passbook_all.drop('index', axis=1)
C:\Users\abc\AppData\Local\Temp\ipykernel_3856\4066875377.py:13: PerformanceWarning: dropping on a non-lexsorted multi-index without a level parameter may impact performance.
  passbook_all.drop(columns, inplace=True, axis=1)

In [19]:
passbook_all

,Date,Amount,Type,Balance,Remarks
0,17/06/2018,23.60,DR,222.20,ATM WDR 816817027794 VAIBHAV NAGAR CD
1,17/06/2018,1500.00,DR,245.80,ATM WDR 816817027794 VAIBHAV NAGAR CD
2,17/06/2018,1500.00,CR,"1,745.80",UPI/816817016710/P2A/9617560960/ASHVINI DO OMP...
3,15/06/2018,23.60,DR,245.80,ATM WDR 816610015026 +BOB
4,15/06/2018,100.00,DR,269.40,ATM WDR 816610015026 +BOB
...,...,...,...,...,...
2820,25/06/2023,30.0,DR,"2,260.06",UPI/317669336760/P2M/paytmqr281005050101m6sq7f...
2821,25/06/2023,2000.0,CR,"2,290.06",UPI/354256083227/P2V/ashvinimalviya@ybl/ASHVIN...
2822,24/06/2023,32.0,DR,290.06,UPI/354184563731/P2M/Q213883842@ybl/SANTOSH P...
2823,24/06/2023,12.0,DR,322.06,UPI/317557582977/P2M/pay9826019243@paytm/RAHUL...
2824,22/06/2023,5.0,DR,334.06,UPI/317353772067/P2M/paytmqrwqflmjxuhb@paytm/B...

In [20]:
passbook_all.info()

passbook_all


file_name = 'Passbook_2018_2024.xlsx'
 
# saving the excel file
passbook_all.to_excel(file_name)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2825 entries, 0 to 2824
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   (Date,)     2825 non-null   object
 1   (Amount,)   2825 non-null   object
 2   (Type,)     2825 non-null   object
 3   (Balance,)  2825 non-null   object
 4   (Remarks,)  2825 non-null   object
dtypes: object(5)
memory usage: 110.5+ KB

In [33]:
passbook_all["Amount"] = passbook_all["Amount"].astype(float)

In [23]:
passbook_all["Remarks"] = passbook_all["Remarks"].astype("category")

In [24]:
passbook_all["Type"] = passbook_all["Type"].astype("category")

In [25]:
from datetime import date
#passbook_all["Date"] = passbook_all["Date"].astype({"date": date})

In [81]:
passbook_all["Balance"] = passbook_all["Balance"].astype("category")

In [82]:
passbook_all.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2825 entries, 0 to 2824
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   (Date,)     2825 non-null   object
 1   (Amount,)   2825 non-null   float64
 2   (Type,)     2825 non-null   category
 3   (Balance,)  2825 non-null   category
 4   (Remarks,)  2825 non-null   category
dtypes: category(3), float64(1), object(1)
memory usage: 227.5+ KB

In [28]:
passbook_all.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2825 entries, 0 to 2824
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   (Date,)     2825 non-null   object
 1   (Amount,)   2825 non-null   float64
 2   (Type,)     2825 non-null   category
 3   (Balance,)  2825 non-null   object
 4   (Remarks,)  2825 non-null   category
dtypes: category(2), float64(1), object(2)
memory usage: 160.7+ KB

In [86]:
passbook_all

,Date,Amount,Type,Balance,Remarks
0,17/06/2018,23.6,DR,222.20,ATM WDR 816817027794 VAIBHAV NAGAR CD
1,17/06/2018,1500.0,DR,245.80,ATM WDR 816817027794 VAIBHAV NAGAR CD
2,17/06/2018,1500.0,CR,"1,745.80",UPI/816817016710/P2A/9617560960/ASHVINI DO OMP...
3,15/06/2018,23.6,DR,245.80,ATM WDR 816610015026 +BOB
4,15/06/2018,100.0,DR,269.40,ATM WDR 816610015026 +BOB
...,...,...,...,...,...
2820,25/06/2023,30.0,DR,"2,260.06",UPI/317669336760/P2M/paytmqr281005050101m6sq7f...
2821,25/06/2023,2000.0,CR,"2,290.06",UPI/354256083227/P2V/ashvinimalviya@ybl/ASHVIN...
2822,24/06/2023,32.0,DR,290.06,UPI/354184563731/P2M/Q213883842@ybl/SANTOSH P...
2823,24/06/2023,12.0,DR,322.06,UPI/317557582977/P2M/pay9826019243@paytm/RAHUL...
2824,22/06/2023,5.0,DR,334.06,UPI/317353772067/P2M/paytmqrwqflmjxuhb@paytm/B...

In [29]:
passbook_stat = pd.read_excel(r"C:\Users\abc\Desktop\Chetan PNB AC\Passbook_2018_2024.xlsx")

In [73]:
passbook_stat["Type"] = passbook_stat["Type"].astype("category")

In [74]:
passbook_stat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2826 entries, 0 to 2825
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   0        2825 non-null   float64
 1   Date     2825 non-null   object
 2   Amount   2825 non-null   float64
 3   Type     2826 non-null   category
 4   Balance  2825 non-null   object
 5   Remarks  2825 non-null   object
dtypes: category(1), float64(2), object(3)
memory usage: 113.4+ KB